@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Inter:wght@600;900&family=Oswald&family=Poppins:wght@300;500&family=Roboto+Condensed:wght@500&family=Roboto:wght@500&family=Source+Code+Pro:wght@300&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;;
  }
  
  .container {
    background-color: #ababf8;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
  }
  
  .content {
    max-width: 900px;
    margin: 0 auto;
  }
  .top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
  }
  .top_section h4 {
    font-size: 30px;
    text-align: end;
  }
  
  .image_container {
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .image_container,
  img {
    width: 300px;
    height: 320px;
  }

/* Add styles for the animation when the cursor hovers over the image */
.image_container:hover img {
    animation: shakeAnimation 0.5s ease-in-out;
}
@keyframes shakeAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(5deg); }
    50% { transform: translateX(5px) rotate(-5deg); }
    75% { transform: translateX(-5px) rotate(5deg); }
    100% { transform: translateX(0); }
}

  .about_section {
    margin-top: 50px;
  }
  .about_section h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .about_section p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
  }
  .biography_section {
    margin: 50px 0;
  }
  .biography_section h3 {
    margin-bottom: 20px;
  }
  .biography_section ul {
    margin-left: 50px;
  }
  .biography_section li {
    margin-bottom: 15px;
  }
  
  footer {
    margin: 50px 0;
  }
  footer p {
    text-align: end;
  }
  @media screen and (max-width: 600px) {
    /* Mobile styles yahaan likhein */
    .image_container{
        width: 100%;
        height: 100%;
        margin-left: 5px;
    }
    .image_container img{
        width: 205px;
        height: 245px;
    }
    .about_section h2{
        font-size: 2em;
        margin-left: 5px;
    }
    .about_section p{
        margin-left: 5px;
        margin-right: 5px;
    }
    .biography_section{
        margin-left: 5px;
    }
    footer p{
        margin-right: 30px;
    }
  }
  
